TZ=America/New_York
PUID=3001
PGID=3001

BAMBUSTUDIO_DOMAIN=bambustudio.yourdomain.com

# Basic auth credentials for the KasmVNC web interface
BAMBUSTUDIO_USER=admin
BAMBUSTUDIO_PASSWORD=changeme

# Set to true to enable dark mode
DARK_MODE=true
