# Homepage
HOMEPAGE_ALLOWED_HOSTS=*.yourdomain.com:3001, 10.0.0.x:3001

# Pi-hole
HOMEPAGE_VAR_PIHOLE1_URL=http://10.0.0.x:8080
HOMEPAGE_VAR_PIHOLE1_API_KEY=your_pihole1_api_key
HOMEPAGE_VAR_PIHOLE2_URL=http://10.0.0.x:8080
HOMEPAGE_VAR_PIHOLE2_API_KEY=your_pihole2_api_key

# Portainer
HOMEPAGE_VAR_PORTAINER_URL=https://10.0.0.x:9000
HOMEPAGE_VAR_PORTAINER_API_KEY=your_portainer_api_key

# Home Assistant
HOMEPAGE_VAR_HOME_ASSISTANT_URL=http://10.0.0.x:8123
HOMEPAGE_VAR_HOME_ASSISTANT_API_KEY=your_home_assistant_long_lived_token
